p {
    text-decoration: underline;
    font-style: oblique;
    
}
img {
    width: 100px;
    border: solid 1px black;
}
body {
    transform: scale(2.1); transform-origin: 0 0; 
    background-image: url(fondohtml.png);
    background-size: cover;
    background-repeat: no-repeat;
}
